<div>
  <div class="header">
    <button mat-raised-button (click)="addBoob()">
      <h1>Add More...</h1>
    </button>
    <mat-card class="header-text">
      <h1>{{ boobId }}</h1>
    </mat-card>
    <button mat-raised-button (click)="addBooty()">
      <h1>Add More...</h1>
    </button>
    <mat-card class="header-text">
      <h1>{{ bootyId }}</h1>
    </mat-card>
  </div>
  <div class="content">
    <div class="body-part-container" *ngFor="let bodyPart of bodyPartList">
      <h1 id="{{ bodyPart.id }}" [ngStyle]="{ color: bodyPart.color }"> {{bodyPart.part}} </h1>
    </div>
  </div>
</div>
